.brands{
    background-color: #F8F8F8;
}
.subheading{
    width:100%;
    height:80px;
    margin: 0;
    box-sizing: border-box;
    border-top: 1px solid #D9FFF5;
    background: linear-gradient(-270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}
.subheading__text{
    display: inline-block;
    padding:16px;
    padding-top: 15px;
    text-transform: uppercase;
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    vertical-align: middle;
}

.swiper {
    box-sizing: border-box;
    width: 100%;
    background-color: #F8F8F8;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;
    margin-top: 16px;
    margin-left: 16px;
    width: 240px;
    height:auto;
    max-width: 366px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: #ddd;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #B5B6BC;
}
.swiper-wrapper{    
    height: 154px;
}
.swiper__translucent-vertical-border{
    margin-top:7px;
    height:81px;
    z-index: 2;
}
.right-array{
    position: relative;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:2px solid #FF3E79;
    display: inline-block;
}
.right-array:before{
    content:"";
    display: inline-block;
    position:absolute;
    width: 8.34px;
    height: 2px;
    top:50%;
    left:50%;
    transform-origin:8px 50%;
    background-color: #FF3E79;
    border-radius: 5px;
    transform:translateX(-50%) translateY(-50%) rotate(45deg);
}
.right-array:after{
    content:"";
    display: inline-block;
    position:absolute;
    width: 8.34px;
    height: 2px;
    top:50%;
    left:50%;
    transform-origin:8px 50%;
    background-color: #FF3E79;
    border-radius: 5px;
    transform:translateX(-50%) translateY(-50%) rotate(-45deg);
}

.brand-item{
    cursor:pointer;
    box-sizing:border-box;
    height: 72px;
    background-color: #fff;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.brand-item:hover,
.brand-item:focus{    
    background: rgba(0,0,0,0.1);
    transform: scale(1.1);
    transition: all 0.2s ease-out;
}
.brand-name{
    line-height: 72px;
    vertical-align: middle;
    width: fit-content;
    margin-left:15px;
}
.brand-name--margin-bottom--3px{
    margin-bottom: 3px;
}
.right-array{
    margin-right:15px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    height: 14px;
    bottom: 38px;
}
.swiper__continuation{
    display:none;
}
.two-arrs-down-img--height--82{
    height: 82px;
}
.continuation__text{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
}

@media screen and (min-width:375px){
    .subheading__text{
        padding-left: 24px;
    }
}

@media screen and (min-width:383px){
    .subheading{
        height: 56px;
    }    
}

@media screen and (min-width:768px){
    .swiper{
        padding-left:24px;
        padding-right: 0;
    }
    .swiper-wrapper{
        margin-top: 24px;
        height: 242px;
        transform: translate3d(0px, 0px, 0px) !important;
    }
    .swiper__translucent-vertical-border{
        display:none;
    }
    .swiper-pagination{
        display: none;
    }
    .swiper-wrapper{
        flex-wrap:wrap;
        justify-content:flex-start;
        box-sizing: border-box;
    }
    .swiper-slide{
        margin-top: 0;
        margin-left: 0;
        width: 224px;
        margin-bottom: 16px;
        margin-right: 3.22%;
    }
    .swiper__continuation{
        display: block;
        position:absolute;
        width: 100%;
        bottom:0;
        text-align: left;
        height: 70px;
        background-color: #F8F8F8;
        z-index:1;
    }    
}

@media screen and (min-width:870px){
    .swiper-slide{
        width: 27%;   
        margin-right: 2.76%;       
    }
}

@media screen and (min-width:1000px){
    .subheading__text{
        padding-left:2.86%;
    }
    .swiper{
        padding-left:2.85%;
        padding-right: 0;
    }
    .swiper-slide{
        width: 22.06%;
        margin-right: 2.94%;    
    }
    .swiper-wrapper {
        /* height:332px; */
        height: 242px;
        align-content: flex-start;
        
    }
}