.site__navbar{
    position: absolute;
    left:0;    
}
.navbar{
    width: 320px;    
    box-shadow: -2px 0px 4px rgb(69 79 126 / 2%), 16px 0px 52px rgb(14 24 80 / 20%);
}
.navbar__btns-group-right-side{
    justify-content: flex-end;
}

.btns-group-left-side__btn{
    margin-left: 22.5px;
}
.navbar__btns-group-left-side{
    justify-content: flex-start;
}
.btns-group-right-side__btn{
    margin-right: 22.5px;
}
.navbar__company-logo{
    margin-left:8px;    
    margin-right:5px;
}
.btn--close-icon {
    background: #FF3E79 url("../images/site-header/close-ic.svg") 50% 50% no-repeat;
}
.vertical-menu{
    list-style:none;
    margin:0;
    padding:0;
}
.vertical-menu__item{
    display:flex;
    align-items:center;
    margin:0;
    padding:0;    
}
.right-rounded-border--small{
    height: 32px;
}
.link{
    text-decoration:none;
    display: block;
    color:#1B1C21;
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: -0.2px;
    padding-bottom:16px;
    padding-top:16px;
    width:100%;
}
.vertical-menu__link{
    padding-left:20px;
}
.link--choosed{
    color:#7E7E82;
}
.navbar__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc( 100% - 104px );
    margin-top: 17px;
}
.navbar__feedback-btns-group{
    margin-left: 24px;
    justify-content: flex-start;
}
.feedback-btns-group__btn--margin-left--16px{
    margin-left: 16px;
}
.company-phone{
    text-decoration:none;
    display:block;
    font-family: TT Lakes;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-weight: bold;
    white-space: nowrap;
}
.company-email{
    text-decoration: none;
    display:block;
    font-family: TT Lakes;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    font-weight: 500;
}
.navbar__languages{
    margin-left: 24px;
}
.btn--small{
    width:27.5px;
    height: 27.5px;
    min-width: 27.5px;
    font-size: 16px;
    line-height: 27.5px;
    letter-spacing: -0.2px;
}
.btn--margin-left--7px{
    margin-left: 7px;
}
.btn--choosed{
    color: #7E7E82;
}
.navbar__company-email{
    margin-left: 21px;
    padding:3px;
}
.navbar__company-phone{
    margin-left: 19px;
}
.footer__feedback-btns-group{
    margin-bottom: 13px;
    margin-top: 16px;
}
.footer__company-email{
    margin-bottom: 4px;
}
.footer__company-phone{
    margin-bottom: 35px;
    padding:5px;
}
.footer__languages{
    margin-bottom: 32px;
}

/* Interactive buttons */
.vertical-menu__link:focus,
.vertical-menu__link:hover:not(.link--choosed),
.btn--interactive--change-bg-1:focus,
.btn--interactive--change-bg-1:hover{
    background-color: rgb(216, 215, 215);
    transition: background-color 0.3s;
}

.btn--interactive--change-bg-2:focus,
.btn--interactive--change-bg-2:hover{
    background-color: #e42861;
    transition: background-color 0.3s;
}

.vertical-menu__link:hover,
.btn--interactive--change-bg-2:hover,
.btn--interactive--change-bg-1:hover{
    cursor:pointer;
}
.link--choosed:hover{
    cursor:default;
}
.vertical-menu__item:hover{
    cursor: pointer;
}
.btn--choosed:hover{
    cursor:default;
}

.navbar__company-logo:hover{
    cursor:pointer;
}
.logo-and-feedback-btns-left-side__logo-link:hover,
.logo-and-feedback-btns-left-side__logo-link:focus{
    background-color: rgb(216, 215, 215);
    transition: background-color 0.3s;
}
.logo-and-feedback-btns-left-side__logo-link:hover{
    cursor:pointer;
}
.navbar__company-email:hover,
.navbar__company-phone:hover,
.navbar__company-email:focus,
.navbar__company-phone:focus{
    display:inline-block;
    background-color: rgb(216, 215, 215);
    transition: background-color 0.3s;
}
.navbar__company-email:hover,
.navbar__company-phone:hover{
    cursor:pointer;
}

@media screen and (min-height:791px){
    .navbar{
        height:100vh;
    }
}